@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");


* {
    scroll-behavior: smooth;
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
  }

  .cardContainer {
    display: inline-block;
    height: 322px;
    width: 284px;
    background-color: blueviolet;
    margin-left: 134px;
}

  .cardContainer .img img {
      width:300px
  }