@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
* {
    /* scroll-behavior: smooth; */
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    background-color: #e4e4e4;
}

.mainSection {
    height: auto;
    flex-direction: column;
    width: 100%;
}

.section1 {
    height: 450px;
    width: 100%;
    background: rgba(0, 0, 0, 0.2) url(../assets/spider.jpg);
    background-size: cover;
    background-blend-mode: darken;
    /* clip-path: polygon(0 0, 100% 0%, 100% 82%, 75% 100%, 0 76%); */
    clip-path: polygon(0px 0px, 100% 0%, 100% 82%, 80.54% 99.13%, 0px 80.65%);
}

.section1 .heading {
    display: inline;
    position: absolute;
    right: 15px;
    top: 270px;
    color: white;
    text-shadow: #000 1px 0 10px;
}

.section1 .heading h1 {
    margin-bottom: 0;
}

.section1 .heading p {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}

.section2 {
    height: 370px;
    margin-top: 10px;
}

.section2 .section2Content {
    display: flex;
}

.section2img {
    flex: 0.4;
    text-align: center;
}

.section2 img {
    text-align: center;
    height: 227px;
    width: 320px;
    border-radius: 71px;
}

.section2 p {
    flex: 0.6 1 0%;
    margin: auto;
    font-size: 17px;
    font-weight: 500;
    padding-right: 128px;
}

@media (max-width:999px) {
    .section2Content {
        flex-direction: column;
    }
    .section2 p {
        margin: 16px 162px;
        padding: 0;
    }
}

@media (max-width:750px) {
    .section1 .heading {
        top: 200px;
    }
    .section2 p {
        margin: 16px 118px;
        padding: 0;
    }
}

@media (max-width:550px) {
    .section1 .heading {
        left: 37px;
        top: 453px;
    }
    .section1 .heading h1 {
        font-size: 25px;
    }
    .section1 .heading p {
        font-size: 20px;
    }
    .section2 p {
        margin: 16px 70px;
    }
    .section1 {
        clip-path: none;
        height: 66vh;
    }
}

@media (max-width:480px) {
    .section2 p {
        margin: 16px 30px;
    }
}