@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
.ourServicesTitleContainer {
    text-align: center;
}

.ourServicesTitle {
    font-family: 'Quicksand', sans-serif;
    font-size: 42px;
    /* font-style: normal; */
    /* font-variant: normal; */
    font-weight: 600;
    color: #ff4c3b;
}

.ourServicesTitleTagline {
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    padding-top: 0;
    color: #ff4c3b;
}

.serviceCard {
    padding: 15px;
    background: antiquewhite;
}

.serviceCard h4 {
    color: #ff4c3b;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

.serviceCard h4 span {
    float: right;
    font-size: 12px;
    line-height: 20px;
    color: #7a7a7a;
}

.ourCityListingsContainer {
    text-align: center;
}

.ourCityListings {
    font-family: 'Quicksand', sans-serif;
    /* font-size: 42px; */
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    color: #ff4c3b;
    font-size: 36px;
    /* color: #222222; */
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.02em;
}

.ourCityListingsTagline {
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    padding-top: 0;
    letter-spacing: 0.02em;
    color: #ff4c3b;
}

.ourCityListingsContainer hr {
    margin-top: 5px;
    height: 2px;
    background-color: #ff4c3b;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.collection-banner {
    position: relative;
    overflow: hidden;
}

.collection-banner:hover img {
    transform: scale(1.05);
    transition: all 0.5s ease;
}